.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}

.icon {
    width: 12px;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}