.item {
    display: flex;
    padding-left: 17px;
    text-align: start;
    font-size: 15px;
    line-height: 45px;
    border-bottom: 1px solid #E5E5E5;
    font-style: normal;

}

.item:last-of-type {
}

.users {

}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    flex-flow: unset;
    width: 606px;
    gap: 9px;
}

.container {
}

.thead {
    display: flex;
    padding-top: 4px;
    padding-left: 15px;
    margin-top: 18px;
    font-weight: bolder;
    width: 606px;
    height: 36px;
    background-color: #E5E5E5;
    align-items: flex-start;
}

.nameCol {
    width: 350px;
    padding-right: 10px;
}

.ageCol {

}