.App {
    --header_height: 60px;
<<<<<<< HEAD
    margin-top: 80px;
=======
>>>>>>> refs/remotes/origin/main
}

.hw {
    margin-left: 70px;
<<<<<<< HEAD
    margin-top: 10px;
=======
>>>>>>> refs/remotes/origin/main
}

.hwTitle {
    font-size: 25px;
    font-weight: bolder;
    border-bottom: 1px solid lightgrey;
    height: 45px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: 70px;
    margin-top: 45px;
}

